@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 209, 74%, 15%; 
    --primary-color: #0A2844;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 76% 56%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 100%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 221 64% 56%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: var(--radius);
}

html {
  scroll-behavior: smooth;
}
button {
  outline: none;
}

.container {
  width: 87.5vw;
  max-width: 1440px;
}
/* hero section  */
/* globals.css */
.hero-bg {
  background-image: url('/assets/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .hero-bg {
    background-image: url("/assets/hero-m.png");
  }
}
.hero-title {
  @apply text-muted-foreground text-center md:text-left font-pretendard text-[32px] md:text-[64px] font-semibold leading-[41px] md:leading-[76.8px] tracking-[-0.64px] md:tracking-[-1.28px] mb-5 md:mb-8;
}

.hero-subtitle {
  @apply text-muted-foreground text-center md:text-left text-sm md:text-[28px] mb-8 md:mb-20 font-normal leading-5 md:leading-[39.2px];
}

.hero-card {
  @apply backdrop-blur-[50px] bg-white/20 border border-[rgba(255,255,255,0.2)] rounded-2xl p-6 text-white bg-opacity-50 flex flex-col justify-between;
}

.hero-card-title {
  @apply text-base md:text-2xl font-semibold mb-2 tracking-[-0.32px] md:tracking-[-0.48px];
}
.reference-card-h1 {
  @apply text-base md:text-[28px] text-[#1C4A90] font-semibold leading-[25px] md:leading-[44.8px] w-full tracking-[-0.28px] md:tracking-[-0.4px];
}
.reference-card-p{
  @apply text-primary text-sm md:text-2xl leading-[25.2px] md:leading-[43.2px];
}
.hero-card-subtitle {
  @apply text-gray-300 mb-4 md:mb-7 font-normal text-sm md:text-xl;
}

.hero-divider {
  @apply h-[1px] border-0 bg-[rgba(255,255,255,0.2)] mb-3;
}


.header-text  {
  @apply text-xl md:text-3xl lg:text-[40px] font-semibold leading-[32px] md:leading-[1.6];
}

.footer-subtext {
  @apply flex gap-[10px] items-center text-sm md:text-base;
}

.border-vertical {
  @apply hidden md:block h-4 border-l-2
}
.input-box {
  @apply border-white-border text-white py-6 md:py-7 rounded-xl md:rounded-2xl bg-[#ffffff0a]
}

.secondary-text{
  @apply font-normal text-muted-foreground/90
}
.title-important {
  @apply text-[#1C4A90] font-bold text-sm md:text-xl tracking-[-0.28px] md:tracking-[-0.4px]
}
.card {
  @apply  p-4 md:p-8 rounded-2xl md:rounded-lg space-y-2 bg-muted-foreground
}
.card-no-border {
  @apply bg-[#F4F5F7] rounded-2xl p-4 md:p-8 space-y-2 text-primary
}
.card-title {
  @apply font-semibold md:font-bold text-primary text-lg md:text-2xl w-full tracking-[0.32px] md:tracking-[-0.48px] leading-[22.4px] md:leading-[32px];
}
.card-description {
  @apply text-sm md:text-xl text-primary tracking-[-0.28px] md:tracking-[-0.4px];
}
.card-badge {
  @apply text-primary text-xs md:text-lg font-bold bg-white rounded-full py-1;
}

/* table */
.table-text {
  @apply border text-sm md:text-lg py-[9px] p-2.5 md:p-5 md:py-[10px] text-center;
}
thead .table-text {
  @apply whitespace-nowrap;
}
.table-row {
  @apply list-disc list-inside ml-4 space-y-2 text-sm md:text-lg;
}
.br-mobile {
  @apply block sm:hidden
}
@layer utilities {
  .content-paragraph {
    @apply text-sm md:text-xl text-primary tracking-[-0.28px] md:tracking-[-0.4px] leading-6 md:leading-[32px] w-full;
  }
  .content-subheading {
    @apply text-white/70 text-xs md:text-base font-normal;
  }
}


@layer components {
  .title-paragraph {
      @apply text-lg md:text-2xl font-semibold text-primary tracking-[-0.36px] md:tracking-[-0.48px] leading-[26px] md:leading-[36px];
  }
}



  

/* Custom classes using for list items */
/* Custom classes with unique names to avoid conflicts */

.custom-list {
  @apply text-sm md:text-xl font-normal leading-[32px] tracking-[0.4px] space-y-4 break-keep;
}

.custom-list-decimal {
  @apply ml-4 mt-[6px] text-sm md:text-xl md:leading-[32px] list-decimal;
}

.custom-list-disc {
  @apply list-disc list-inside ml-4 mt-[6px];
}

.mo-menu svg {
  width: 24px !important;
  height: 24px !important;
}
.mo-menu.hover\:bg-accent:hover {
  background-color: transparent !important;
}
.card-inner-title {
  position: relative;
}
.card-inner-title::after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: calc(100% + 8px);
  width: 24px;
  height: 24px;
  background-image: url('/assets/icon/arrow_outward.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .card-inner-title::after {
    left: calc(100% + 4px);
    width: 16px;
    height: 16px;
    background-image: url('/assets/icon/arrow_outward-sm.svg');
  }
}

.card-subtitle br {
  display: none;
}

.table th {
  padding: 10px;
  background-color: #F4F5F7;
  font-weight: 500;
  border-left: 1px solid #C4C4CC;
}
.table th:first-child {
  border-left: 0 none;
}

.table td {
  padding: 10px 20px;
  border-top: 1px solid #C4C4CC;
  border-left: 1px solid #C4C4CC;
}
.table td:first-child {
  border-left: 0 none;
}